*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-size: 1.8rem;
  background-color: #f4f6f6;
  color: #00171f;
  height: 100vh;
  overflow-y: hidden;
}

ol,
ul {
  list-style: none;
}

header {
  margin: 3.2rem 0;
}

a,
button {
  margin: 2rem;
  text-decoration: none;
  padding: 1rem 2rem;
  background-color: #084b83;
  color: #f0f6f6;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 1.8rem;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover,
a:hover {
  background-color: #042d4e;
  color: #f0f6f6;
}

button {
  border: none;
  width: 100%;
  margin: 0;
}

h2 {
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

label {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin-bottom: 2rem;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #084b83;
  border-radius: 0.4rem;
}

select {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  color: #00171f;
  font-weight: normal;
}

.form {
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: -10rem;
}

.container {
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
}

.display {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.6rem;
  position: relative;
}

.display::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  background-color: #00171f;
  bottom: -0.6rem;
}

.display-elements ul {
  display: flex;
  gap: 1.6rem;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-left: auto;
}

.btn-delete {
  background-color: #00171f;
}
